{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <!-- Cuerpo -->
  <div class="content-wrapper">
    <!-- titulo -->
    <section class="content-header">
      <h1>
        Calpy
        <small>Iniciar Calulo</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#">Calpy</a></li>
        <!--<li class="active">Calpy</li>-->
      </ol>
    </section>

    <!-- Main -->
      <section class="content">
          <div class="row">
              <!-- Formulas -->
              <section class="col-lg-5 connectedSortable">
                  <div class="box box-solid ">
                      <div class="box-header bg-light-blue-active">
                          <div class="pull-right box-tools">
                              <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse"
                                      data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                                  <i class="fa fa-minus"></i></button>
                          </div>
                          <i class="fa fa-bookmark"></i>
                          <h3 class="box-title">
                              Formulas
                          </h3>
                      </div>
                      <div class="box-body" >
                          <div>
                              <form action="{% url 'resolver' %}" method="post">
                                  {% csrf_token %}
                                  <center>
                                      <table>
                                          {{ formulario.as_table }}
                                      </table>
                                  </center>
                                  <button type="submit" class="btn bg-olive btn-sm pull-right">Resolver</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
          {% if solucion %}
          <div class="row">
              <!-- Problema -->
              <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-aqua">
                      <div class="inner">
                          <blockquote>
                              <h3>\[{{ problema }}\]</h3>
                          </blockquote>
                          <p>Problema</p>
                      </div>
                      <div class="icon">
                          <i class="ion ion-search"></i>
                      </div>
                  </div>
              </div>
              <!-- Solucion -->
              <div class="col-lg-3 col-xs-6">
                  <div class="small-box bg-green">
                      <div class="inner">
                          <blockquote>
                              <h3>\[{{ solucion }}\]</h3>
                          </blockquote>
                          <p>Solucion</p>
                      </div>
                      <div class="icon">
                          <i class="ion ion-happy-outline"></i>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
      </section>
  </div>
{% endblock content %}

{% block scripts %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX","output/HTML-CSS"],
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" src="/static/mathjax/MathJax.js"></script>
{% endblock scripts %}
